[Unit]
Description=Hackafe Tank Controller Daemon
After=tank-motor.service

[Service]
ExecStart=/opt/tank/controller/controller.py --continuous websocket
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
